$color-principal: #a6d7d3;
$letra-principal: rgb(255, 255, 255);


.image-view {
    border-radius: 50%;
    width: 40vw;
    padding-left: 20px;  
    padding-right: 20px;
    margin: 5%;
    flex-direction: row;

    &:hover {
     filter: opacity(60%);

}
}