@import "../scss/variables";
@import "../scss/_mixins.scss";
@import "../scss/_maps.scss";



header {
    margin-top: $margin;

    nav {
        background-color: $color-principal
    }

    div {
        background-color: $color-principal;


        #header-options {
            @include display;
            flex-direction: row;
        }

        a {
            &:hover {
                background-color: $letra-principal;
                color: $letra-principal;
            }

            &:active {
                background-color: $color-principal;
                color: $letra-principal;
            }

            img {
                width: 100px;
            }
        }
    }

    .container-navbar {
        @include display;
        flex-direction: row;

    }
}

@media screen and (max-width: 991px) {
    #header-options {
        flex-direction: column !important;
    }
}

h1 {
    font-size: x-large;
}

.image-empresa {
    display: flex;
    justify-content: center;

    .image-card-emp {
        display: flex;
        @include image;
    }
}

.conteiner {
    @include display;

    .image-inicio {
        border-radius: 100%;
        width: 20rem;
        margin: $margin;

        &:hover {
            filter: opacity(60%);

        }
    }
}

//*new card index//
.more {
    margin: 6%;

    .new-container {
        padding: $margin;
        text-align: justify;

    }

    .link-new {
        text-decoration: none;
        color: $letra-secundaria;

        &:hover {
            background-color: $color-principal;
            color: $color-principal;
        }

        &:active {
            background-color: $color-principal;
            color: $color-principal;
        }
    }

    .new-titule {
        text-align: center;
        margin-top: 20px;
        margin-bottom: $margin;
        color: black;
    }

    .new-p {
        text-align: justify;
        padding: $margin;
        padding-top: 20px;
        line-height: 35px;
    }
}

//** card pag product//

.new-card-product {
    height: 600px;
    margin-right: 30px;
    border-radius: 30px;
    margin-left: 30px;

    .new-image-prod {
        width: 100%;
        height: 50%;
        @include image;

    }

    .titule-b {
        text-align: center;
        font-size: 40px;
        font-family: monospace;
    }

    .text-b {
        text-align: justify;
        line-height: 35px;
    }
}

//*new card index//

.product-card {
    @include display;
    margin: $margin;

    .new-card {
        display: flex;
        @include image;
        width: 500px;
        height: 400px;
        margin-top: 10%;
        border-radius: 20px;
        box-shadow: 5px 8px 12px black;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            transform: scale(1.1);
            box-shadow: 15;
        }

        img {
            width: 100%;
            height: 100%;
            @include image;
        }

        p {
            font-size: 3rem;
            color: $letra-principal;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-shadow: 0 0 8px $letra-secundaria;
        }
    }
}

.banner {
    @include display;
    background-color: $color-principal;
    height: 30px;
    margin: $margin;



    .text-banner {
        display: flex;
        text-align: $margin;
        color: $letra-principal;

    }
}

//*new page contact//
.contact-titule {
    font-size: 50px;
    padding-top: 100px;
    width: 100%;
    text-align: center;
    border: 5px;
    cursor: auto;
    transition: all 0.3s;
    overflow: hidden;
    text-transform: uppercase;
    text-decoration-line: overline;

    &:hover {
        transform: rotate(-30deg);

    }
}

h2 {
    text-align: center;
    padding: $margin;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        transform: scale(1.1);
        box-shadow: 15;
    }
}

.contact {
    @include display;
    padding-top: 50px;

    .contact-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 20px;

        p {
            text-align: center;
            padding: 15px;
            width: 500px;
        }

        .line {
            background: black;
            width: 80%;
            height: 4px;
            align-self: center;
            margin: 10px;
        }
    }

    .contact-left {
        display: flex;
        flex-direction: column;
        align-items: center;

        .iframe {
            width: 400px;
            height: 350px;
            border-radius: 30px;
            margin-left: 20px;
            align-items: center;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &:hover {
                transform: scale(1.1);
                box-shadow: 15;
            }
        }
    }
}

.footer-test {
    @include display;
    background-color: $color-principal;
    margin-top: 10%;

    a {
        &:hover {
            background-color: $letra-principal;
            color: $letra-principal;
        }

        &:active {
            background-color: $letra-principal;
            color: $letra-principal;
        }

        .image-footer {
            width: 50px;
            margin: $margin;
        }
    }
}

@media screen and (max-width: 1100px) {
    .new-card-product {
        margin: 20px;
    }

    .contact {
        display: flex;
        flex-direction: column;
    }
}