@import "../scss/variables";
@import "../scss/_mixins.scss";
@import "../scss/_maps.scss";

header {
    nav {
        background-color: $color-principal
    }

    div {
        background-color: $color-principal;

        a {
            img {
                width: 100px;
            }
        }
    }
    .container-navbar{
        @include display;
        flex-direction: row;
        align-content:space-around;
    }
}

body {
    div {
        padding-bottom: 10px;

    }

    .img-photo {
        display: flex;
        justify-content: space-around;


        .link-ref-photo {
            text-decoration: none;
            color: black;

        }

    }
}

.conteiner {
    @include display;

    .image-inicio {
        border-radius: 100%;
        width: 20rem;
        margin: $margin;

        &:hover {
            filter: opacity(60%);

        }
    }
}

.product-card{
    margin: $margin;
}    

.banner {
    @include display;
    background-color: $color-principal; 
    height: 30px;
   


    .text-banner {
        display: flex;
        text-align: center;
        color: $letra-principal;
        
    }
}


footer {
    background-color: $color-principal;

    nav {
        background-color: $color-principal;

        div {
            background-color: $color-principal;

            a {
                img {
                    @include display;
                    width: 40px;
                }
            }
        }
    }
}