header nav {
  background-color: #a6d7d3; }

header div {
  background-color: #a6d7d3; }
  header div a img {
    width: 100px; }

header .container-navbar {
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-direction: row; }

body div {
  padding-bottom: 10px; }

body .img-photo {
  display: flex;
  justify-content: space-around; }
  body .img-photo .link-ref-photo {
    text-decoration: none;
    color: black; }

h1 {
  font-size: x-large; }

.conteiner {
  display: flex;
  align-content: center;
  justify-content: space-around; }
  .conteiner .image-inicio {
    border-radius: 100%;
    width: 20rem;
    margin: 10px; }
    .conteiner .image-inicio:hover {
      filter: opacity(60%); }

.product-card {
  margin: 10px; }

.banner {
  display: flex;
  align-content: center;
  justify-content: space-around;
  background-color: #a6d7d3;
  height: 30px; }
  .banner .text-banner {
    display: flex;
    text-align: center;
    color: white; }

footer {
  background-color: #a6d7d3; }
  footer nav {
    background-color: #a6d7d3; }
    footer nav div {
      background-color: #a6d7d3; }
      footer nav div a img {
        display: flex;
        align-content: center;
        justify-content: space-around;
        width: 40px; }
